<a href="https://colab.research.google.com/github/utatsineza/Badge-Widget-Presentation/blob/main/MLPipeline_Week1_Session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing libraries
import pandas as pd
import numpy as np
import requests
from io import StringIO

In [ ]:
""" Loading the data """

# Read the data
url = "https://pynative.com/wp-content/uploads/2019/01/Automobile_data.csv"

# Send request with headers
headers = {'User-Agent': 'Mozilla/5.0'}
response = requests.get(url, headers=headers)

# Load into pandas
df = pd.read_csv(StringIO(response.text))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB

In [ ]:
# Print the first and last five columns

In [ ]:
# Identify missing values and choose a method to replace them

In [ ]:
# Print the most expensive car, the company name, and the price.

In [ ]:
# Count total cars per company

In [ ]:
# Find each companyâ€™s highest-priced car

In [ ]:
# Find the average mileage of each car-making company

In [ ]:
# Sort all cars by the price column